<footer class="main-footer">
  <div class="container-fluid">
    <h3 class="h4 text-center">Síguenos en&hellip;</h3>
    <ul class="list-inline center-block text-center">
      <li><a href="#"><img class="img-circle" src="http://placehold.it/42x42&text=F"></a></li>
      <li><a href="#"><img class="img-circle" src="http://placehold.it/42x42&text=T"></a></li>
      <li><a href="#"><img class="img-circle" src="http://placehold.it/42x42&text=G+"></a></li>
      <li><a href="#"><img class="img-circle" src="http://placehold.it/42x42&text=Y"></a></li>
    </ul>
  </div>
  <div class="container">
    <div class="col-sm-6 col-md-3">
      <h4 class="h6">Heading</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="">Lorem ipsum dolor sit</a></li>
        <li><a href="">Lorem ipsum dolor sit</a></li>
        <li><a href="">Lorem ipsum dolor sit</a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4 class="h6">Heading</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="">Lorem ipsum dolor sit</a></li>
        <li><a href="">Lorem ipsum dolor sit</a></li>
        <li><a href="">Lorem ipsum dolor sit</a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4 class="h6">Heading</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="">Lorem ipsum dolor sit</a></li>
        <li><a href="">Lorem ipsum dolor sit</a></li>
        <li><a href="">Lorem ipsum dolor sit</a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4 class="h6">Heading</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="">Lorem ipsum dolor sit</a></li>
        <li><a href="">Lorem ipsum dolor sit</a></li>
        <li><a href="">Lorem ipsum dolor sit</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="copyright">
      &copy;Local2enjoy
      <a class="pull-right" href="">Términos y condiciones</a>
    </div>
  </div>
</footer>
