<div class="page-wrapper">

  <!-- Hero Unit -->
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-capitalize">{{ main.title }}</h1>
      <p>{{ main.description }}</p>
      <button class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-ok-sign"></span>
        {{ main.cta }}
      </button>
    </div>
  </div>


  <div class="container">
    <div ng-repeat="image in main.images" class="col-xs-6 col-md-3 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2  class="panel-title">{{ image.name }}</h2>
        </div>
        <div class="panel-footer">
          <img ng-src="{{ image.src }}" class="img-responsive">
        </div>
      </div>
    </div>
  </div>



  <div class="bg"></div>
</div>

